Source: qmi-net-systemd
Section: net
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/dlitz/qmi-net-systemd
Vcs-Browser: https://github.com/dlitz/qmi-net-systemd
Vcs-Git: https://github.com/dlitz/qmi-net-systemd.git

Package: qmi-net-systemd
Architecture: all
Depends:
 libqmi-utils,
 ${misc:Depends},
Description: Ensures QMI modem network is started
 This ensures `qmicli --wds-start-network` gets run for modems specified by
 udev, which can allow systemd-networkd to perform the rest of the
 configuration without needing modemmanager.
 .
 This package also provides qmi-proxy.service
